	

	:root {
		  /* Crear una variable y darle un color */
		  --color-escuderia: linear-gradient(to right, #1F0340, #2D045C); 
		  --color-texto: #FFF;
		  --color-secun:#E6CB02;
		  --posicionTexto: 50%
		  }





/* Elimina los márgenes por defecto del navegador */
       
	   html, body {
            margin: 0;
            padding: 0;
            width: 100%;
			 font-family:  sans-serif;
        }
		
		*, *::before, *::after {
			  box-sizing: border-box;
			}
		
		body{
			background: var(--color-escuderia);
		
			display:grid;
			grid-template-columns:5fr 1fr;
			grid-template-rows:auto 1fr auto;
			grid-template-areas:
						"header header"						
						"nav  nav"
						"saludo saludo"
						"main aside"
						"foot  foot";
			align-items: stretch;
			
			
		}

        /* Banner principal  */
        .banner-hero {
			display:flex;
			width: 100%; 
			background-color: black;
            color: #ffffff;
                    
			padding-left: 20px;
			grid-area:header;
		}
		
		
		
		
		
		
		/*Barra de navegación*/
		.main-header {
			position: sticky;
			top: 0;
			left: 0;
			/*width: 100%;*/
			background-color: #ffffff; 
			display:flex;
			flex-direction: row;
			padding:5px;
			justify-content: flex-start; /* Centra el nav dentro del header */
			grid-area:nav;
			 z-index: 100; 
			
		}			
		.main-header img {
			 max-width: 100px;
			 height: auto;
			 align-self: center;
			 		
		}

		.navbar {
			width: 100%;
			display: flex;
		}		
		.nav-menu{
			display:flex;
			flex-direction: row;
			gap:20px;
			width: 100%;
			list-style: none; 
			font-size: 16px; 
			font-weight: 500; 

		}
		
		.nav-link {
			color: #000000; 
			text-decoration: none; 
			
		}
		.nav-link:hover {
			color: red; 
			transition: color 0.3s ease; /*Cambio de color suave*/
		}
		
		.seleccion{
			
			margin-left:auto;
			padding-right:20px;
		}
		
		
		/* mensaje bienvenida */
		
		.saludo {
			position: relative; /* Para que el texto absolute se guíe por este contenedor */
			width: 100%;
			height: 60px; 
			grid-area:saludo;
			overflow: hidden; /*ocultar lo que sobresale*/
			}

		.bienvenida{
			
			color:var(--color-texto);
			text-align:center;
			font-size:1.5rem;
			position:absolute;
			transform: translateX(var(--posicionTexto));
			
		}
		
		
		
		
		/*Contenido principal index*/
		.main-content{
			grid-area:main;
			padding:0 20px;	
			color:var(--color-texto);
							
		}	
		
		
		.info-circuito{
			display:grid;
			grid-template-columns:2fr 3fr;
			grid-template-rows:auto 1fr;
			gap:20px;
			  
			  /* DIBUJAr EL MAPA */
			grid-template-areas: 
				"titulo titulo"
				"texto  imagen";
			align-items: stretch;
			padding-left:30px;
			
			
			
		}
		.main-content h2{
			grid-area:titulo;
			
			color:var(--color-secun);
			letter-spacing: 2.5px;
			font-size:4rem;
			font-style: italic;
		}
			
		.main-content h3{
			
			color:var(--color-secun);
			letter-spacing: 2px;
			font-size:1.5rem;
			 
			
		}
		.info-circuito aside{
			grid-area:texto;			
			padding-left:20px;
			padding-right:20px;
			
			
		}
		
		.info-circuito img{
			max-width:100%;
			height:auto;
			background:#CDCCCF;			
			grid-area:imagen;
			padding:20px;
			display:block;
		}
		
				
		.como-llegar{
			display:grid;
			grid-template-columns:1fr 1fr;
			gap:50px;			
			align-items: stretch;
			padding-left:30px;
			
			
			
		}
		
		.como-llegar h2{
			
			grid-row: 1; /*Para que los titulos ocupen la primera fila*/
			grid-column: 1 / -1;
		}
		
		.como-llegar section:last-of-type {
			width:100%;
			height:auto;
			grid-column: span 2;     /*El ultimo elemento ocupe las dos columas*/
			 
		}
		.como-llegar dt{
			font-weight: bold;   
			font-size:1.2rem;
			padding:10px;
		}
		.transporte{
			
			padding:50px;
		}

		.main-content a{
			
			color:var(--color-secun);
			text-decoration:none;
			
			
		}
		.main-content a:hover{
			
			transform: scale(1.05);
			color:red;
			
		}
		
		/*contenida ppal resultados*/
		
		.resultados-monaco {
			display: grid;
 			grid-template-columns: 1fr 1fr; 
					
		}
			
	
		
		.resultados {
			display: grid;
 			grid-template-columns: 1fr 2fr ; 
			grid-template-rows:auto 1fr ;
			gap:20px;
			color:var(--color-texto);	
				
		}
		
			
		.resultados img{
			max-width:100%;
			height:auto;			
			padding:20px;
			display:block;
			
		}
		
		.resultados table{
			
			  width: 100%;                  
			  margin: 15px 0;  
			  border: solid #fff;
			}


		.resultados th, td {
                
			  padding: 2px 5px; 
				border-bottom: 1px solid #e0e0e0; /			  
			}
						
					
		
		
		.leyendas-monaco{
			display: grid;
 			grid-template-columns: 1fr 1fr; 
		}
		
		
		.leyendas-monaco section:last-of-type {
			width:100%;
			height:auto;
			grid-column: span 2; /*Ocupar las dos ultimas columnas*/
			 
		}

		.leyenda img{
			max-width:100%;
			height:auto;
			
			padding:20px;
			display:block;
			
		}
		
		
		
		
		
		/*Barra lateral de enlaces*/
		
		.sidebar{
			display:flex;
			flex-direction: column;
			grid-area:aside;
			padding:200px 10px 1px 10px;
			
			
		}
		
		.sidebar a{
			
			position: relative;
			display: inline-block;			
			color:#000;
			font-weight: bold;
			text-shadow: 0 0 6px #FFF;			
			
			border: 1px solid #000;
			margin-bottom:10px;
			text-decoration:none;
			text-align:center;
			padding:10px;
			background-color:#FFF;
		}
		
		.sidebar a:hover{
			transform: scale(1.05);
			
			
		}
		.sidebar img{
			display: block;
			width: 100%;
			height: auto;
			
			
		}
		
		
		
		
		
		
		/*Pie de pagina*/
		
		.main-footer{
			
			width: 100%;
			height: auto;			
			background-color: black;           
            margin-top:50px;
			padding: 50px 20px 20px 20px;
			color:var(--color-secun);
			display: grid; 
			grid-template-columns: 1fr 1fr 2fr 2fr; 
			gap:30px;
			
			grid-area:foot;
			
		}
		.main-footer h2{
			font-size:1.2rem;
			 color: #fff;
		}
		.main-footer img{
			
			max-width:50px;
			height:auto;
		}
		
		.main-footer li{
			padding-bottom:15px;
						
			list-style:none;
			
		}
		.main-footer a{
			
			color:var(--color-secun);
			text-decoration:none;
			
		}
		.main-footer a:hover{
			
			transform: scale(1.05);
			color:red;
			
		}
		
		.patrocinadores {
			display:grid;
			grid-template-columns:1fr 1fr;
			gap:5px;
			font-size:0.8rem;
		}
		.citas a{
			font-size:0.8rem;
		}
		
		   
		.formulario-contacto{
			
			
			width:auto;
			padding:20px;
			
			display:grid;
			grid-template-columns:1fr 1fr;
			
			align-items: start;
			gap:5px;			
		}
		.formulario-contacto button{
			
			border-radius: 8px;
			width:50%;
			align-items:center;
		}
		